<div class="map-overlay header">
  <div class="overlay-title">
    Weather Radar
  </div>

  <div class="overlay-subtitle">
    <span data-weather-map-web-target="dropdownButton">
      <%= @type_name %>
    </span>
    ·
    <span data-weather-map-web-target="timeLabel">—</span>
  </div>

</div>