<%= image_tag "aura_logo_v6_512.png", alt: "Aura Weather logo", style: "width: 120px;" %>
<u class="fs-2"><%= t("home.title") %></u>
<figcaption class="blockquote-footer text-left">
  Forecast Data supplied by
  <cite title="Source Title"><a href="https://www.noaa.gov/" target="_blank">NOAA.gov</a></cite>,
  GeoLocation Data supplied by
  <cite title="Source Title"><a href="https://opencagedata.com/" target="_blank">OpenCage</a></cite>
  <br/><a href="javascript:window.history.back();">Back to Summary</a> | <i data-feather="home" style="width: 16px; height: 16px; margin-top: -2px"></i> <%= link_to "Kainga", root_path %>
</figcaption>