<% @translated_results.each do |lang, translation| %>
  <div class="row">
    <p class="fs-6"><%= language_name(lang.to_sym)[1] %>
      <%= link_to "Open in new Window",
                  translator_show_path(lang: lang, text: translation),
                  onclick: "window.open(this.href, '_blank', 'width=600,height=600'); return false;",
                  class: "btn btn-primary btn-sm",
                  style: "margin-left: 30px; margin-top: -5px" %>
    </p>

  </div>
  <div class="row">
    <div style="border: 1px solid #ccc; padding: 1em; margin-bottom: 1em;">
      <%= simple_format(translation) %>
    </div>
  </div>
<% end %>