<!-- app/views/admin/cameras/new.html.erb -->
<div style="margin-top: 38px">
  <h6>New: <%= @camera.kind.to_s.capitalize %> camera for <%= @resort.resort_name %> Resort&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Resort Information Page", admin_resort_path(@resort) %>
  </h6>
  <hr/>
</div>
<%= render "form", resort: @resort, new: true %>