<div class="mobile_weather_div">
  <p class="fs-4">Kam's Stuff</p>
  <figcaption class="blockquote-footer text-start">
    Various Coding Samples and Tools
    <br/>Kia ora : Nau Mai Piki Mai
  </figcaption>
</div>


